# WHITELIST: everything is ignored unless re-included below.
/*
!/.gitignore
!/*.yaml
/secrets.yaml
/ip_bans.yaml
!/packages/
!/blueprints/
!/custom_templates/
!/themes/
!/tools/
!/www/
/www/community/
/www/**/*.mp4
/www/**/*.mkv
/www/**/*.mov
!/.storage/
/.storage/*
!/.storage/lovelace
!/.storage/lovelace.*
!/.storage/lovelace_dashboards
!/.storage/lovelace_resources
!/.storage/core.area_registry
!/.storage/core.floor_registry
!/.storage/core.label_registry
!/.storage/input_boolean
!/.storage/input_number
!/.storage/input_select
!/.storage/input_text
!/.storage/input_datetime
!/.storage/input_button
!/.storage/counter
!/.storage/timer
!/.storage/schedule
!/.storage/zone
!/.storage/person
/go2rtc.yaml
